

<header>

    le header du site 

    <nav>  <ul>

        <li><a href="/">Home</a></li>
        <li><a href="/products">Our Products</a></li>
        <li><a href="/products/create">Add a product</a></li>
    </ul>    </nav>

</header>